body{
    background-color: rgb(19, 19, 19);
    font-family: "Montserrat", sans-serif;
}

.title-container {
    display: flex;
    justify-content: center; 
    padding-bottom: 2rem;
    border-bottom: solid white 2px;
    margin-right: 20rem;
    margin-left: 20rem;
}

.title-container h1 {
    color: white;
    margin-top: 9rem;
}

.title-container img {
    margin-top: auto;
    width: 5rem;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
}

.item-list-container {
    padding: 5rem 10rem;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}

.item:hover {
    background-color: #D2AF61;
    transition: 0.3s;
}

.image-item {
    border-radius: 5px;
    width: 15rem;
    height: 15rem;
}

.content-item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    text-align: center;
}

.item-name {
    margin-top: 1.5rem;
    color:black;
    font-size: 15px;
    text-decoration: none;
}
.item-brand {
    color:black;
    font-size: 15px;
    text-decoration: none;
}
.link-style{
    text-decoration: none!important;
}