.navbar{
    padding: 0;
    background-color: #242526 !important;
    border-bottom: white 3px;
}
.active{
    color:white;
}
.navbar-brand:hover{
    color: #D2AF61!important; 
    text-decoration: none!important;
}
.navbar-brand:active{
    color: #D2AF61!important; 
    text-decoration: none!important;
}
.golden-palace{
    color: #D2AF61!important
}
.golden-palace:hover{
    color: #D2AF61!important
}
.golden-palace:active{
    color: #D2AF61!important
}
.navbar-toggler{
    color: white!important;
}
.navbar-toggler-icon{
    color: white!important;
}
.nav-link{
    color: white!important;
}
.navbar-text{
    color: white!important;
}
.nav-logo{
    width: 5rem;
    margin: 2rem 1.5rem
}
.nav-cart{
    width: 3.5rem
}
.cart-number{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    background-color: #D2AF61;
    padding: 5px 10px;
    border-radius: 50%;
}
.nav-cart-container{
    margin-right: 4rem;
}
